<%- include('includes/head.ejs') %>
	</head>

	<body>
		<%- include('includes/navigation.ejs') %>
			<h1>Some error occured, We are working to fix the issue!</h1>

			<%- include('includes/end.ejs') %>